.gradient-background {
  background: linear-gradient(300deg, #007a87, #004d56, #002329);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.text-teal {
  color: #80CBC4 !important;
}

.text-teal-simple {
  color: #80CBC4 !important;
}

.text-teal:hover {
  color: #B2DFDB !important;
}

.social-logo:hover {
  opacity: 0.3;
  background-color: transparent !important;
}

/* Button part */

.button-logo {
  background-color: transparent !important;
}

.custom-border-btn {
    border-color: #80CBC4 !important; 
}

.custom-hover-btn:hover {
    background-color: #B2DFDB !important; 
    border-color: #B2DFDB !important; 
}

.equal-width-btn {
  width: 120px;  /* Adjust this value as needed */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Button part */

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animate-bounce:hover {
  animation: bounce 2s infinite;
}

.allow-breaks {
  white-space: pre-line; /* Allows line breaks and wraps text */
}


.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

/* Custom scrollbar styles */
.overflow-auto::-webkit-scrollbar {
    width: 12px; 
}

.overflow-auto::-webkit-scrollbar-track {
    background: #80CBC4;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-color: #007a87; 
    border-radius: 10px; 
    border: 3px solid #004d56; 
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: #002329; 
}

.portfolio-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

/* Portfolio part */

.title{
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4) !important;    
}

.divider-title{
    border:1px solid #dddddd;
}

.project {
    margin-bottom: 30px;
    vertical-align: top;
    margin-right: 30px;
    float: left;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    max-width: 95%;
}


.project figure {
    position: relative;
    display: inline-block;
    width: 283px;
    -moz-box-shadow: 0 3px 0 #007a87,transparent 0 0 0;
    -webkit-box-shadow: 0 3px 0 #007a87,transparent 0 0 0;
    box-shadow: 0 3px 0 #007a87,transparent 0 0 0;
    -webkit-box-shadow: 0 3px 0 #007a87;
    -moz-box-shadow: 0 3px 0 #007a87;
    box-shadow: 0 3px 0 #007a87;
}

.project figure figcaption {
    position: relative;
    z-index: 10;
    padding: 8px 18px 11px;
    background: #fff;
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-align: left;
    color: #555;
}

.project figure:hover .actions {
    opacity: 1;
}

.project figure .actions {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(29,29,29,.7);
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.project figure img {
    border: 0;
    width: 100%;
}
.btn-warning bnt-action{
    margin: 0% 0% auto;    
}

figcaption .project-details {
    display: block;
    font-size: 16px;
    line-height: 33px;
    color: #0093d0;
    height: 27px;
    width: 85%;
    margin-bottom: 5px;
    overflow: hidden;
}

figcaption .project-price {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 22px;
    text-align: right;
    margin-top: 8px;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}

figcaption .project-creator {
    font-size: 13px;
    color: #545454;
    display: block;
}

figcaption .project-creator {
    font-size: 13px;
    color: #545454;
    display: block;
}

.project figure .actions button {
    padding: 13px 20px;
    font-size: 16px;
    top: 32%;
    position: absolute;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    line-height: 18px;
    letter-spacing: 1px;
}    

.project-creator-container {
  max-height: 200px;
  overflow-y: auto;
}

.project figure figcaption {
    background-color: transparent; /* Replace with your preferred color */
    padding: 10px; /* Adjust padding as needed */
}

.project-description {
  padding: 5px;
}


/* Portfolio part */