<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AlexTLDR</title>
    <link rel="icon" type="image/x-icon" href="./static/gopherAvatar.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body class="gradient-background d-flex flex-column vh-100">

    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="./static/gopherAvatar.svg" width="40" height="32" alt="Logo">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary text-teal">About</a></li>
          <li><a href="/cv" class="nav-link px-2 link-body-emphasis text-teal">CV</a></li>
          <li><a href="/portfolio" class="nav-link px-2 link-body-emphasis text-teal">Portfolio</a></li>
          <li><a href="/stuttgart-gophers" class="nav-link px-2 link-body-emphasis text-teal">Stuttgart Gophers</a></li>
        </ul>     
      </div>
    </div>

            <!--Body start-->
        <div class="container pt-5 overflow-auto">
                <div class="container">
                    <div class="jumbotron">
                        <h1 class="display-3 text-centered text-info text-teal-simple">Full Stack Developer</h1>
                        <p class="text-muted text-teal-simple">
                            Accomplished and goal-driven professional with 15+ years of experience, including full stack development. 
                            Proficient in collaborating with all members of the organization to produce dynamic and long-lasting results. 
                            Self-motivated, with diverse experience in technical support, DevOps, and full stack development. 
                            Proven problem-solving and analytical thinking skills, a fast learning curve, 
                            and flexibility to adapt to evolving trends.
                        </p>
                        <hr>
                    </div>
        
                    <div class="row pt-4">
                        <div class="col-lg-6">
                        <!-- <h2 class="text-teal-simple">Tech Stack</h2> -->
                            <img src="./static/coder-night.gif" alt="coder gif" class="img-thumbnail">
                        </div>
        
                        <div class="col-lg-6">
                            
                            <div dir="auto">
                                <a href="https://golang.org/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/go.svg" alt="Go Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://www.python.org/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/python.svg" alt="Python Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://www.javascript.com/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/javascript.svg" alt="JS Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/html.svg" alt="HTML Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/css.svg" alt="CSS Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://www.gnu.org/software/bash/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/bash.svg" alt="bash Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://www.linux.org/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/linux.svg" alt="linux Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://www.postgresql.org/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/postgresql.svg" alt="Postgres Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://www.mysql.com/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/mysql.svg" alt="MySQL Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://www.mongodb.com/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/mongodb.svg" alt="MongoDB Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://neo4j.com/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/neo4j.svg" alt="neo4j Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://graphql.org/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/graphql.svg" alt="graphql Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://github.com/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/github.svg" alt="GitHub Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://git-scm.com/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/git.svg" alt="Git Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://aws.amazon.com/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/amazon.svg" alt="AWS Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://cloud.google.com/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/gcp.svg" alt="GCP Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://www.terraform.io/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/terraform.svg" alt="terraform Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://www.docker.com/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/docker.svg" alt="docker Logo" style="max-width: 100%;">
                                </a>
                                <a href="https://kubernetes.io/" target="_blank">
                                    <img height="100" src="./static/cv/tech-stack/k8s.svg" alt="kubernetes Logo" style="max-width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3 p-3  rounded box-shadow pt-4">
                    <h3 class="border-bottom border-gray pb-2 mb-0 text-teal-simple">Certifications</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- First column -->
                                <div class="media text-muted pt-4 d-flex align-items-start">
                                    <a href="https://www.credly.com/badges/1cd93189-1692-483a-a8f4-40a74f2bc802/public_url" target="_blank">
                                        <img class="mr-3 rounded" src="./static/cv/certifications/terraform.png" alt="HashiCorp Certified: Terraform Associate (003)" data-holder-rendered="true" style="width: 100px;">
                                    </a>
                                    <div class="media-body pb-3 mb-0 small lh-125" style="margin-left: 20px;">
                                        <a href="https://www.credly.com/badges/1cd93189-1692-483a-a8f4-40a74f2bc802/public_url" target="_blank" style="text-decoration: none;">
                                            <b class="text-teal">HashiCorp Certified: Terraform Associate (003)</b>
                                        </a>
                                    </div>
                                </div>

                                <div class="media text-muted pt-4 d-flex align-items-start">
                                    <a href="https://www.credly.com/badges/2c428a04-31c0-4e3a-9161-fa6d2db09431/public_url" target="_blank">
                                        <img class="mr-3 rounded" src="./static/cv/certifications/aws-cloud-practitioner.png" alt="aws-cloud-practitioner" data-holder-rendered="true" style="width: 100px;">
                                    </a>
                                    <div class="media-body pb-3 mb-0 small lh-125" style="margin-left: 20px;">
                                        <a href="https://www.credly.com/badges/2c428a04-31c0-4e3a-9161-fa6d2db09431/public_url" target="_blank" style="text-decoration: none;">
                                            <b class="text-teal">AWS Certified Cloud Practitioner</b>
                                        </a>
                                    </div>
                                </div>

                                <div class="media text-muted pt-4 d-flex align-items-start">
                                    <a href="https://courses.ardanlabs.com/certificates/yb9r4bz5ef" target="_blank">
                                        <img class="mr-3 rounded" src="./static/cv/certifications/ardanlabs_logo.jpeg" alt="Ardan Lab's Practical Go Foundations" data-holder-rendered="true" style="width: 100px;">
                                    </a>
                                    <div class="media-body pb-3 mb-0 small lh-125" style="margin-left: 20px;">
                                        <a href="https://courses.ardanlabs.com/certificates/yb9r4bz5ef" target="_blank" style="text-decoration: none;">
                                            <b class="text-teal">Practical Go Foundations</b>
                                        </a>
                                    </div>
                                </div>

                                 <div class="media text-muted pt-4 d-flex align-items-start">
                                        <a href="https://www.boot.dev/u/alextldr" target="_blank">
                                            <img class="mr-3 rounded" src="./static/cv/certifications/bootdotdev_logo.jpeg" alt="Boot.dev logo" data-holder-rendered="true" style="width: 100px;">
                                        </a>
                                        <div class="media-body pb-3 mb-0 small lh-125" style="margin-left: 20px;">
                                            <a href="https://www.boot.dev/certificates/18e960d3-7bb5-4bb1-998c-84e809070bff" target="_blank" style="text-decoration: none;">
                                                <b class="text-teal">Learn to Code in Python</b>
                                            </a><br>
                                            <a href="https://www.boot.dev/certificates/094a7cf3-6587-4d67-bb6e-0f9b5ab92335" target="_blank" style="text-decoration: none;">
                                                <b class="text-teal">Learn Object Oriented Programming in Python</b>
                                            </a><br>
                                            <a href="https://www.boot.dev/certificates/9da1cf8f-7fef-43ca-ae82-c4d9d4834366" target="_blank" style="text-decoration: none;">
                                                <b class="text-teal">Learn Git</b>
                                            </a><br>
                                            <a href="https://www.boot.dev/certificates/dc9da002-6f9b-43bf-9536-34781bec376b" target="_blank" style="text-decoration: none;">
                                                <b class="text-teal">Learn Shells and Terminal</b>
                                            </a>
                                        </div>
                                 </div>
                            </div>
                        
                        <div class="col-md-6">
                            <!-- Second column -->
                            <div class="media text-muted pt-4 d-flex align-items-start">
                                <a href="https://graphacademy.neo4j.com/c/19ee3c09-2b77-4cca-b2db-2496d88d308d/" target="_blank">
                                    <img class="mr-3 rounded" src="./static/cv/certifications/neo4j_logo.jpeg" alt="Neo4j logo" data-holder-rendered="true" style="width: 100px;">
                                </a>
                                <div class="media-body pb-3 mb-0 small lh-125" style="margin-left: 20px;">
                                    <a href="https://graphacademy.neo4j.com/c/19ee3c09-2b77-4cca-b2db-2496d88d308d/" target="_blank" style="text-decoration: none;">
                                        <b class="text-teal">Building Neo4j Applications with Go</b>
                                    </a><br>
                                    <a href="https://graphacademy.neo4j.com/u/d937770a-656f-4fe4-99a4-8866f6cd231a/cypher-fundamentals/" target="_blank" style="text-decoration: none;">
                                        <b class="text-teal">Cypher Fundamentals</b>
                                    </a><br>
                                    <a href="https://graphacademy.neo4j.com/u/d937770a-656f-4fe4-99a4-8866f6cd231a/neo4j-fundamentals/" target="_blank" style="text-decoration: none;">
                                        <b class="text-teal">Neo4j Fundamentals</b>
                                    </a>
                                </div>   
                            </div>
        
                            <div class="media text-muted pt-4 d-flex align-items-start">
                                <a href="https://www.credential.net/6606aa1c-4075-4047-bf1b-3b496afa6e9a#gs.ceb748" target="_blank">
                                    <img class="mr-3 rounded" src="./static/cv/certifications/co_rise_logo.jpeg" alt="Uplimit logo" data-holder-rendered="true" style="width: 100px;">
                                </a>
                                <div class="media-body pb-3 mb-0 small lh-125" style="margin-left: 20px;">
                                    <a href="https://www.credential.net/6606aa1c-4075-4047-bf1b-3b496afa6e9a#gs.ceb748" target="_blank" style="text-decoration: none;">
                                        <b class="text-teal">SQL Crash Course</b>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="media text-muted pt-4 d-flex align-items-start">
                                <a href="https://courses.edx.org/certificates/aa53aa6e9c9143008c0e2608809c6de0" target="_blank">
                                    <img class="mr-3 rounded" src="./static/cv/certifications/cs50_logo.jpeg" alt="CS50 logo" data-holder-rendered="true" style="width: 100px;">
                                </a>
                                <div class="media-body pb-3 mb-0 small lh-125" style="margin-left: 20px;">
                                    <a href="https://courses.edx.org/certificates/aa53aa6e9c9143008c0e2608809c6de0" target="_blank" style="text-decoration: none;">
                                        <b class="text-teal">CS50</b>
                                    </a>
                                </div>
                            </div>
                        
                        </div>

                    </div>
                    <small class="d-block text-right mt-5">
                        <a href="https://www.linkedin.com/in/alexandru-badragan/details/certifications/" class="text-teal">All certifications</a>
                    </small>
                </div>

            
                
            <div class="container px-4 py-5" id="hanging-icons">
                    <h2 class="pb-2 border-bottom text-teal-simple">Curriculum Vitae</h2>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 border-bottom">
                        <div class="col d-flex align-items-start">
                            <div class="social-logo button-logo text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <a class="text-body-secondary" href="https://www.sopheon.com/" target="_blank">
                                    <img src="./static/cv/sopheon.jpeg" alt="Logo-sopheon" width="50" height="50" style="border-radius: 5cap;">
                                </a>
                            </div>
                            <div>
                            <h3 class="fs-2 text-body-emphasis text-teal-simple">Sopheon</h3>
                            <p class="text-teal-simple"><b>DevOps Engineer</b>
                                <br>Mar 2023 - present
                                <br>Remote, Germany
                            </p>

                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="social-logo button-logo text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <a class="text-body-secondary" href="https://www.pricespider.com/" target="_blank">
                                    <img src="./static/cv/pricespider.jpeg" alt="Logo-pricespider" width="50" height="50" style="border-radius: 5cap;">
                                </a>
                            </div>
                            <div>
                            <h3 class="fs-2 text-body-emphasis text-teal-simple">PriceSpider</h3>
                            <p class="text-teal-simple"><b>Support Engineer</b>
                                <br>Feb 2021 - Dec 2022
                                <br>Remote, Germany</p>

                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="social-logo button-logo text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <a class="text-body-secondary" href="https://www.cancom.de/" target="_blank">
                                    <img src="./static/cv/cancom.jpeg" alt="Logo-cancom" width="50" height="50" style="border-radius: 5cap;">
                                </a>
                            </div>
                            <div>
                            <h3 class="fs-2 text-body-emphasis text-teal-simple">Cancom</h3>
                            <p class="text-teal-simple"><b>IT Service Engineer - contract</b>
                                <br>Dec 2020 - Feb 2021
                                <br>Remote, Germany.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 border-bottom">
                        <div class="col d-flex align-items-start">
                            <div class="social-logo button-logo text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <a class="text-body-secondary" href="https://www.oracle.com" target="_blank">
                                    <img src="./static/cv/oracle.jpeg" alt="Logo-oracle" width="50" height="50" style="border-radius: 5cap;">
                                </a>
                            </div>
                            <div>
                            <h3 class="fs-2 text-body-emphasis text-teal-simple">Oracle</h3>
                            <p class="text-teal-simple"><b>Technical Support Analyst</b>
                                <br>Jan 2019 - Sep 2019
                                <br>Bucharest, Romania.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="social-logo button-logo text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <a class="text-body-secondary" href="https://www.microsoft.com" target="_blank">
                                    <img src="./static/cv/microsoft.jpeg" alt="Logo-microsoft" width="50" height="50" style="border-radius: 5cap;">
                                </a>
                            </div>
                            <div>
                            <h3 class="fs-2 text-body-emphasis text-teal-simple">Microsoft</h3>
                            <p class="text-teal-simple"><b>Technical Support Engineer</b>
                                <br>Feb 2018 - Dec 2018
                                <br>Bucharest, Romania</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="social-logo button-logo text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <a class="text-body-secondary" href="https://www.mediatel.ro/" target="_blank">
                                    <img src="./static/cv/mediatel_data.jpeg" alt="Logo-mediatel" width="50" height="50" style="border-radius: 5cap;">
                                </a>
                            </div>
                            <div>
                            <h3 class="fs-2 text-body-emphasis text-teal-simple">Mediatel Data</h3>
                            <p class="text-teal-simple"><b>Customer Support Engineer</b>
                                <br>Sep 2013 - Jan 2018
                                <br>Bucharest, Romania</p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <div class="col d-flex align-items-start">
                            <div class="social-logo button-logo text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <a class="text-body-secondary" href="https://commanderservices.eu/" target="_blank">
                                    <img src="./static/cv/commander.jpeg" alt="Logo-commander" width="50" height="50" style="border-radius: 5cap;">
                                </a>
                            </div>
                            <div>
                                <h3 class="fs-2 text-body-emphasis text-teal-simple">Commander</h3>
                                <p class="text-teal-simple"><b>Senior Sales Representative</b>
                                    <br>Dec 2011 - Sep 2013
                                    <br>Bucharest, Romania</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="social-logo button-logo text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <img src="./static/cv/work-place-svgrepo-com.svg" alt="Logo-invisible" width="50" height="50" style="border-radius: 5cap; opacity: 0;">
                            </div>
                            <div>
                            <h3 class="fs-2 text-body-emphasis text-teal-simple">D&T Computers</h3>
                            <p class="text-teal-simple"><b>IT Specialist</b>
                                <br>Jun 2009 - Dec 2011
                                <br>Bucharest, Romania</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="social-logo button-logo text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <img src="./static/cv/work-place-svgrepo-com.svg" alt="Logo-invisible" width="50" height="50" style="border-radius: 5cap; opacity: 0;">
                            </div>
                            <div>
                            <h3 class="fs-2 text-body-emphasis text-teal-simple">Obor Network</h3>
                            <p class="text-teal-simple"><b>Network Administrator</b>
                                <br>Mar 2006 - Jun 2009
                                <br>Bucharest, Romania</p>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>

        <!-- Body end -->

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-body-secondary text-teal-simple">© 2024 AlexTLDR</span>
                </div>  
                    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-body-secondary" href="https://github.com/AlexTLDR" target="_blank"><img src="./static/github-logo.svg" width="24" height="24" alt="GitHub" class="social-logo"></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/alexandru-badragan/" target="_blank"><img src="./static/linkedin.svg" width="24" height="24" alt="LinkedIn" class="social-logo"></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="https://x.com/TldrAlex" target="_blank"><img src="./static/twitter-x-logo.svg" width="24" height="24" alt="Twitter" class="social-logo"></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="https://stuttgart-gophers.de/" target="_blank"><img src="./static/stuttgart_gophers.svg" width="24" height="24" alt="Twitter" class="social-logo"></a></li>
                </ul>
            </footer>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="./js/script.js"></script>
    </body>
</html>